.u-section-1 .u-sheet-1 {
  min-height: 1457px;
}

.u-section-1 .u-list-1 {
  grid-template-rows: auto;
  margin-top: 16px;
  margin-bottom: 16px;
}

.u-section-1 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 1426px;
  grid-gap: 30px 30px;
}

.u-section-1 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-group-1 {
  width: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-group-2 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-4 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-7 {
  padding: 30px;
}

.u-section-1 .u-group-4 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-5 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-9 {
  padding: 30px;
}

.u-section-1 .u-group-5 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-6 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-11 {
  padding: 30px;
}

.u-section-1 .u-group-6 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-7 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-13 {
  padding: 30px;
}

.u-section-1 .u-group-7 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-8 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-15 {
  padding: 30px;
}

.u-section-1 .u-group-8 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-9 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-17 {
  padding: 30px;
}

.u-section-1 .u-group-9 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-10 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-19 {
  padding: 30px;
}

.u-section-1 .u-group-10 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-20 {
  padding: 0;
}

.u-section-1 .u-text-19 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-20 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-10 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-11 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-21 {
  padding: 30px;
}

.u-section-1 .u-group-11 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-22 {
  padding: 0;
}

.u-section-1 .u-text-21 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-22 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-11 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-12 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-23 {
  padding: 30px;
}

.u-section-1 .u-group-12 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-24 {
  padding: 0;
}

.u-section-1 .u-text-23 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-24 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-12 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-13 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-25 {
  padding: 30px;
}

.u-section-1 .u-group-13 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-26 {
  padding: 0;
}

.u-section-1 .u-text-25 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-26 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-13 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-14 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-27 {
  padding: 30px;
}

.u-section-1 .u-group-14 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-28 {
  padding: 0;
}

.u-section-1 .u-text-27 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-28 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-14 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-15 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-29 {
  padding: 30px;
}

.u-section-1 .u-group-15 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-30 {
  padding: 0;
}

.u-section-1 .u-text-29 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-30 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-15 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-16 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-31 {
  padding: 30px;
}

.u-section-1 .u-group-16 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-32 {
  padding: 0;
}

.u-section-1 .u-text-31 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-32 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-16 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-17 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-33 {
  padding: 30px;
}

.u-section-1 .u-group-17 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-34 {
  padding: 0;
}

.u-section-1 .u-text-33 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-34 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-17 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-18 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-35 {
  padding: 30px;
}

.u-section-1 .u-group-18 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-36 {
  padding: 0;
}

.u-section-1 .u-text-35 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-36 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-18 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-1 .u-list-item-19 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-1 .u-container-layout-37 {
  padding: 30px;
}

.u-section-1 .u-group-19 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-1 .u-container-layout-38 {
  padding: 0;
}

.u-section-1 .u-text-37 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-text-38 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-1 .u-btn-19 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
    min-height: 1176px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    min-height: 3603px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-19 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-21 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-23 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-25 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-27 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-29 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-31 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-33 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-35 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-37 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-19 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-21 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-23 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-25 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-27 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-29 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-31 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-33 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-35 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-37 {
    font-size: 1.875rem;
  }
}