.u-section-1 {
  background-image: linear-gradient(0deg, rgba(26,26,26,0.9), rgba(26,26,26,0.9)), url("images/best-movies-1614634680.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 812px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  font-weight: 400;
  font-family: Montserrat, sans-serif;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  width: 770px;
  margin: 210px auto 0;
}

.u-section-1 .u-btn-1 {
  border-style: solid;
  align-self: center;
  font-weight: 700;
  text-transform: uppercase;
  margin: 89px auto 60px;
  padding: 10px 57px 10px 55px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 774px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 693px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.4375rem;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 621px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: 540px;
    margin-top: 90px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 590px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.125rem;
    width: 340px;
    margin-top: 60px;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 1149px;
}

.u-section-2 .u-image-1 {
  width: 663px;
  min-height: 969px;
  background-image: url("images/v.png");
  background-position: 50% 50%;
  margin: 60px 101px 0 auto;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-image-2 {
  width: 959px;
  height: 723px;
  margin: -901px auto 0 0;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  width: 524px;
  margin: -161px 0 60px auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: repeat(2, calc(50% - 15.5px));
  min-height: 399px;
  grid-gap: 31px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-2 .u-group-2 {
  width: 73px;
  min-height: 73px;
  margin: 9px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0;
}

.u-section-2 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-4 {
  padding: 15px 30px;
}

.u-section-2 .u-group-3 {
  width: 73px;
  min-height: 73px;
  margin: 9px auto 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0;
}

.u-section-2 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-6 {
  padding: 15px 30px;
}

.u-section-2 .u-group-4 {
  width: 73px;
  min-height: 73px;
  margin: 9px auto 0;
}

.u-section-2 .u-container-layout-7 {
  padding: 0;
}

.u-section-2 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

.u-section-2 .u-list-item-4 {
  background-image: none;
}

.u-section-2 .u-container-layout-8 {
  padding: 15px 30px;
}

.u-section-2 .u-group-5 {
  width: 73px;
  min-height: 73px;
  margin: 9px auto 0;
}

.u-section-2 .u-container-layout-9 {
  padding: 0;
}

.u-section-2 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-2 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  margin: 19px 0 0;
}

.u-section-2 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px auto 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1089px;
  }

  .u-section-2 .u-image-1 {
    width: 534px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-2 .u-image-2 {
    height: 709px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-list-1 {
    margin-top: -147px;
    margin-right: auto;
    margin-left: 15px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 16.5px));
    grid-gap: 33px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1203px;
  }

  .u-section-2 .u-image-1 {
    width: 461px;
    min-height: 1024px;
    margin-right: auto;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 45px;
  }

  .u-section-2 .u-image-2 {
    height: 547px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    margin-top: 19px;
    margin-left: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1019px;
  }

  .u-section-2 .u-image-1 {
    min-height: 848px;
    width: 450px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    height: 366px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-list-1 {
    width: 492px;
    height: auto;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-2 .u-container-layout-8 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1632px;
  }

  .u-section-2 .u-image-1 {
    min-height: 1363px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-image-2 {
    height: 228px;
    width: 317px;
    margin-top: -1316px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-2 .u-list-1 {
    width: 259px;
    margin-top: 50px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 988px;
    grid-gap: 33px 33px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-text-7 {
    font-size: 1.875rem;
  }
} .u-section-3 {
  background-image: none;
  min-height: 889px;
}

.u-section-3 .u-image-1 {
  height: 694px;
  filter: brightness(0.75);
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-3 .u-list-1 {
  grid-template-rows: auto;
  width: 1140px;
  margin: -162px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px) calc(25% - 22.5px);
  min-height: 275px;
  grid-gap: 30px 30px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-1 {
  padding: 30px;
}

.u-section-3 .u-group-1 {
  width: 90px;
  min-height: 90px;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-3 .u-list-item-2 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-group-2 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-4 {
  padding: 0;
}

.u-section-3 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

.u-section-3 .u-list-item-3 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 0 auto;
}

.u-section-3 .u-container-layout-6 {
  padding: 0;
}

.u-section-3 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-3 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: 21px 0 0;
}

.u-section-3 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px auto 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    min-height: 867px;
  }

  .u-section-3 .u-image-1 {
    height: 605px;
  }

  .u-section-3 .u-list-1 {
    width: 940px;
    height: auto;
    margin-top: -73px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(4, calc(25% - 22.5px));
  }

  .u-section-3 .u-btn-2 {
    padding: 0;
  }

  .u-section-3 .u-btn-3 {
    padding: 0;
  }

  .u-section-3 .u-btn-3 {
    padding: 0;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    min-height: 1124px;
  }

  .u-section-3 .u-image-1 {
    height: 442px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
    margin-top: 90px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
  }
}

@media (max-width: 767px) {
   .u-section-3 {
    min-height: 1667px;
  }

  .u-section-3 .u-image-1 {
    height: 374px;
  }

  .u-section-3 .u-list-1 {
    width: 540px;
    margin-top: 158px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: repeat(1, 100%);
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    min-height: 1462px;
  }

  .u-section-3 .u-image-1 {
    height: 190px;
    width: 340px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-3 .u-list-1 {
    width: 340px;
    margin-top: 67px;
    height: auto;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1095px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-3 .u-btn-1 {
    padding: 5px;
  }

  .u-section-3 .u-btn-2 {
    padding: 5px;
  }

  .u-section-3 .u-btn-3 {
    padding: 5px;
  }

  .u-section-3 .u-btn-3 {
    padding: 5px;
  }
} .u-section-4 {
  background-image: none;
  min-height: 1232px;
}

.u-section-4 .u-shape-1 {
  height: 453px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-shape-2 {
  width: 603px;
  height: 597px;
  background-image: none;
  margin: -240px auto 0 calc(((100% - 1140px) / 2));
}

.u-section-4 .u-shape-3 {
  width: 603px;
  height: 597px;
  background-image: none;
  margin: -399px calc(((100% - 1140px) / 2)) 0 auto;
}

.u-section-4 .u-image-1 {
  width: 1045px;
  height: 631px;
  object-position: 50% 50%;
  box-shadow: 0 0 25px 0 rgba(0,0,0,0.3);
  margin: -707px auto 0;
}

.u-section-4 .u-text-1 {
  margin: -692px auto 0 calc(((100% - 1140px) / 2) + 126px);
}

.u-section-4 .u-text-2 {
  margin: 674px calc(((100% - 1140px) / 2) + 117px) 60px calc(((100% - 1140px) / 2) + 654px);
}

@media (max-width: 1199px) {
   .u-section-4 {
    min-height: 872px;
  }

  .u-section-4 .u-shape-2 {
    width: 536px;
    height: 468px;
    margin-top: -259px;
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 536px;
    height: 469px;
    margin-top: -275px;
    margin-right: calc(((100% - 940px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 748px;
    height: 452px;
    margin-top: -554px;
    margin-left: calc(((100% - 940px) / 2) + 96px);
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: -515px;
    margin-left: calc(((100% - 940px) / 2) + 92px);
  }

  .u-section-4 .u-text-2 {
    width: auto;
    margin: 507px calc(((100% - 940px) / 2) + 76px) 55px calc(((100% - 940px) / 2) + 495px);
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    min-height: 886px;
  }

  .u-section-4 .u-shape-2 {
    margin-left: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 599px;
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 566px;
    height: 342px;
    margin-top: -508px;
    margin-left: auto;
  }

  .u-section-4 .u-text-1 {
    margin-top: -433px;
    margin-left: calc(((100% - 720px) / 2) + 92px);
  }

  .u-section-4 .u-text-2 {
    margin: 463px calc(((100% - 720px) / 2) + 103px) 60px calc(((100% - 720px) / 2) + 248px);
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    min-height: 989px;
  }

  .u-section-4 .u-shape-2 {
    width: 493px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-shape-3 {
    width: 493px;
    margin-top: -209px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-image-1 {
    width: 540px;
    height: 326px;
    margin-top: -526px;
  }

  .u-section-4 .u-text-1 {
    margin-top: -439px;
    margin-left: calc(((100% - 540px) / 2) + 71px);
  }

  .u-section-4 .u-text-2 {
    margin-top: 480px;
    margin-right: calc(((100% - 540px) / 2) + 47px);
    margin-left: calc(((100% - 540px) / 2) + 111px);
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    min-height: 453px;
  }

  .u-section-4 .u-shape-2 {
    width: 212px;
    height: 193px;
    margin-top: -360px;
    margin-left: 50px;
  }

  .u-section-4 .u-shape-3 {
    width: 209px;
    height: 161px;
    margin-top: -112px;
    margin-right: auto;
    margin-left: 181px;
  }

  .u-section-4 .u-image-1 {
    width: 306px;
    height: 185px;
    margin-top: -214px;
    margin-bottom: 147px;
  }

  .u-section-4 .u-text-1 {
    margin-top: 567px;
    margin-left: calc(((100% - 340px) / 2) + 71px);
  }

  .u-section-4 .u-text-2 {
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
    margin-bottom: 0;
  }
}.round-slider {
	border-radius: 8px;
}
.card {
  position: relative;
  width: 250px;
  height: 250px;
  color: #a18a96;
  background: url(/images/3Qfav5aVRcZmq854olMjJ795JJ2.jpg) center no-repeat;
  background-size: cover;
  border-radius: 8px;
  overflow: hidden;
  justify-content: space-around;
}
.card_content {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background-color: #fff;
  border-top-left-radius: 8px;
  transform: translateY(60px);
  transition: transform .25s;
}
.card_content::before {
  content: '';
  position: absolute;
  top: -47px;
  right: -45px;
  width: 100px;
  height: 100px;
  transform: rotate(-175deg);
  border-radius: 50%;
  box-shadow: inset 48px 48px #fff;
}
.card_title {
  color: #6A515E;
  line-height: 15px;
}
.card_subs {
  display: block;
  font-size: 12px;
  margin-bottom: 10px;
}
.card_desc {
  font-size: 14px;
  opacity: 0;
  transition: opacity .5s;
}
.card:hover .card_content {
  transform: translateY(0);
}
.card:hover .card_desc {
  opacity: 1;
  transition-delay: .25s;
}
.bgcolor {
  background-color: #232B79;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 575px) {
  .bgcolor {
    display: block;
    padding-left: 20%;
    justify-content: space-around;
    padding-bottom: 10px;
  }
  .section2nd {
    margin-top: -85px;
  }
  .card {
    margin-bottom: 10px;
  }
  }
body {
  background-color: #232B79;
}
