.u-section-1 .u-sheet-1 {
  min-height: 1205px;
}

.u-section-1 .u-list-1 {
  margin: 0 auto 35px 20px;
}

.u-section-1 .u-repeater-1 {
  grid-gap: 10px 10px;
  grid-template-columns: 100%;
  min-height: 746px;
}

.u-section-1 .u-container-layout-1 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-1 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-1 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-2 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-2 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-4 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-5 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-3 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-6 {
  padding: 0;
}

.u-section-1 .u-text-5 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-3 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-7 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-4 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-8 {
  padding: 0;
}

.u-section-1 .u-text-7 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-4 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-8 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-9 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-5 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-10 {
  padding: 0;
}

.u-section-1 .u-text-9 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-5 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-10 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-11 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-6 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-12 {
  padding: 0;
}

.u-section-1 .u-text-11 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-6 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-12 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-13 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-7 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-14 {
  padding: 0;
}

.u-section-1 .u-text-13 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-7 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-14 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-15 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-8 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-16 {
  padding: 0;
}

.u-section-1 .u-text-15 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-8 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-16 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

.u-section-1 .u-container-layout-17 {
  padding: 0 10px 19px;
}

.u-section-1 .u-group-9 {
  width: 90px;
  min-height: 90px;
  background-size: auto;
  margin: 12px auto 0 26px;
}

.u-section-1 .u-container-layout-18 {
  padding: 0;
}

.u-section-1 .u-text-17 {
  font-size: 3rem;
  font-weight: 400;
  margin: 0 5px;
}

.u-section-1 .u-btn-9 {
  font-size: 0.875rem;
  letter-spacing: 1px;
  border-style: solid;
  font-weight: 700;
  text-transform: uppercase;
  margin: -69px 26px 0 auto;
  padding: 9px 58px 11px;
}

.u-section-1 .u-text-18 {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1.25rem;
  font-weight: normal;
  margin: -35px 725px 33px 171px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-list-1 {
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 884px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-1 {
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-3 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-5 {
    margin-right: 0;
  }

  .u-section-1 .u-text-10 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-12 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-7 {
    margin-right: 0;
  }

  .u-section-1 .u-text-14 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-16 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-bottom: 15px;
  }

  .u-section-1 .u-btn-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-18 {
    width: auto;
    margin-right: 584px;
    margin-bottom: 0;
    margin-left: 132px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-2 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-4 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-6 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-8 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-10 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-12 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-14 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-16 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-bottom: 0;
  }

  .u-section-1 .u-text-18 {
    margin-top: -36px;
    margin-right: 361px;
    margin-left: 135px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-repeater-1 {
    min-height: 1105px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-10 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-12 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-14 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-16 {
    margin-right: 248px;
    margin-left: 116px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 0;
    margin-left: 0;
  }

  .u-section-1 .u-text-18 {
    margin-right: 248px;
    margin-left: 116px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-list-1 {
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-repeater-1 {
    min-height: 1657px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-1 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-2 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-2 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-4 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-3 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-5 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-3 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-6 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-7 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-4 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-7 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-8 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-9 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-5 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-9 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-5 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-10 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-11 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-6 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-11 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-6 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-12 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-13 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-7 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-13 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-7 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-14 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-15 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-8 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-15 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-8 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-16 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }

  .u-section-1 .u-container-layout-17 {
    padding-top: 11px;
    padding-bottom: 11px;
  }

  .u-section-1 .u-group-9 {
    margin-top: 32px;
  }

  .u-section-1 .u-text-17 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-btn-9 {
    margin-top: -16px;
    margin-right: 9px;
    padding-bottom: 10px;
  }

  .u-section-1 .u-text-18 {
    margin-top: -113px;
    margin-right: 45px;
    margin-left: 119px;
  }
}